form    {
margin:auto;
position:relative;
width:450px;
height:550px;
font-size: 30px;
font-style: italic;
line-height: 20px;
font-weight: bold;
color: #09C;
text-decoration: none;
padding:10px;
-webkit-box-shadow: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-moz-box-shadow: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
box-shadow: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
background-color:rgba(255, 255, 255, 0.1);
}
input    {
width:400px;
padding: 10px;
margin-bottom: 10px;
display:block;
border: 1px solid #999;
height: 30px;
}

textarea#query{
	width:400px;
	height:200px;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
}

select
{
	width:420px;
	height:60px;
	padding: 10px;
	margin-bottom: 10px;
}
input.submit {
width:100px;
position:absolute;
left:20px;
bottom:20px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:50px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
input.submit:hover {
background:#fff;
color:#09C;
cursor: pointer;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}





