body{
	font-family: 'Open Sans',sans-serif;
	color: #fff;
}
#logo{
	top:7%;
	position: relative;


}
#headings{
	position: relative;
	top: -6%;
	
}
#typed{
	font-size: 144px;
	color: #00FF30;
	font-family: 'Josefin Slab',monospace;
	position: relative;
	top: -20%;
}
#textTyped{
	height:144px;
	position: relative;
	top: -20%;
}
#Drop{
	background-image: url(../images/top.jpg);
	max-width: 100%;
	
}
a{
	color: #3e3e3e;
	text-decoration: none;
}
#Head{
	text-align : center;
	color: white;
	max-height: 100%;
	overflow: none;
}

.det{
	width: 50%;
	margin: 0px auto;
	text-align: center;
}
.section{
	background-size: cover;	
}
#sec{
	background: white;
}
#abt{
	position: relative;

	width : 100%;
	opacity: 0;
	color: #3e3e3e;
}
#classes{
	z-index: 0;
	max-width: 100%;
	height: 100%;
	width: 100%;
	background-image: url(../images/comp.jpg);
	
}
#contact{
	background-color: #3e3e3e;
}
#cont a{
	color: #fff;
	font-size: 36px;
}
#team{
	width:13%;
	margin: 0px auto;
	font-size: 48px;
	color: #3e3e3e;

}
#ContTeam{
	width : 75%;
	margin: 0px auto;
}
#secEvents{
	background-color: #3e3e3e;
}
#events{
	text-align: center;

}
#events h2{
	position: relative;
	top: 2%;
	font-size: 72px;
	color : white;
	font-family: 'Josefin Slab',monospace;
}
.eventTimeTable{
	position: relative;
	top: 00px;
	width: 300px;
	float: left;
	margin: 2%;
	font-size: 18px;
	border-collapse: collapse;
	border : 1px solid #fff;
}
.eventTimeTable tr{
	background-color: #3e3e3e;
}
.eventTimeTable th{
	font-size: 24px;
	margin: 0px;
}
#evtTable{
	width: 79%;
	margin: 0px auto;
}
.teamMem{
	color: black;
	text-align: center;
}
.teamMem img{
	height: 150px;
	width: 150px;
}
#secTeam{

	position: relative;
}
#particles-js{
	background-color: #3e3e3e;
}
#parti
{
	width: 52%;
	float: right;

}
#Contlinks{
	width: 30%;
	float: left;
	margin: 2%;
	padding: 10px;
}
#FootImg{
	background-color: #000;
	border-radius: 10px;
}
#FootImg img{
	max-width: 100%;
}
#Contlinks a{
	color: white;
	text-decoration: underline;
}
.teamMem{
	float: left;
	margin: 20px;
}
.imgProp{

}
.super{
	font-size: 96px;
}
@media screen and (max-width: 1014px){
	.eventTimeTable{
		display: none;
	}
	#MainTable{
		display: table;
		margin: 0px auto;
		width: 90%;
		float: none;
	}
	#evtTable{
		width: 300px;
	}
	
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_1.gif) center no-repeat #fff;
}
@media screen and (max-width: 1044px){
	#Drop{
		background: #000;
		background-color: #000;
	}
	#parti{
		float: none;
		margin: 0px auto;
	}
	.det{
		width:90%;
	}
	
}
@media screen and (max-width: 770px) {
	#abt{
		transform : scale(0.90);
	}
	.det {
		width:90%;
	}
	.teamMem img{
	height: 100px;
	width: 100px;
	}
	#ContTeam{
		width: 100%;
	}
	.eventTimeTable{
		width: 100%
	}
	#evtTable{
		width: 90%;
	}
	#parti{
		width: 100%;
		float: none;
		margin: 0px auto;
	}
	#parti form{
		transform: scale(0.8);
	}
}
@media screen and (max-width: 1300px) {
	#Ntn{
		display: none;
	}
	}