body{
	font-family: 'Open Sans';
	color: #fff;
}
#logo{
	top:60px;
	position: relative;


}
#headings{
	font-family: 'Source Sans Pro';
	position: relative;
	top: -50px;
	
}
#typed{
	font-size: 144px;
	color: #00FF30;
	font-family: 'Josefin Slab';
}
#textTyped{
	height:144px;
	position: relative;
	top: -100px;
}
#Drop{
	background-image: url(../images/top.jpg);
	max-width: 100%;
	
}
a{
	color: #3e3e3e;
	text-decoration: none;
}
#Head{
	text-align : center;
	color: white;
	font-family: sans-serif;
	max-height: 100%;
	overflow: none;
}

.det{
	width: 600px;
	margin: 0px auto;
	text-align: center;
}
.section{
	background-size: cover;	
}
#sec{
	background: white;
}
#abt{
	position: relative;

	width : 600px;
	opacity: 0;
	color: #3e3e3e;
}
#classes{
	z-index: 0;
	max-width: 100%;
	height: 100%;
	width: 100%;
	background-image: url(../images/comp.jpg);
	
}
#contact{
	background-color: #3e3e3e;
}
#cont a{
	color: #fff;
	font-size: 36px;
}
#team{
	width:100px;
	margin: 0px auto;
	font-size: 48px;
	color: #3e3e3e;

}
#ContTeam{
	width : 960px;
	margin: 0px auto;
}
#secEvents{
	background-color: #3e3e3e;
}
#events{
	text-align: center;

}
#events h2{
	position: relative;
	top: 20px;
	font-size: 72px;
	color : white;
	font-family: 'Josefin Slab';
}
.eventTimeTable{
	position: relative;
	top: 00px;
	width: 300px;
	float: left;
	margin: 20px;
	font-size: 18px;
	border-collapse: collapse;
	border : 1px solid #fff;
}
.eventTimeTable tr{
	background-color: #3e3e3e;
}
.eventTimeTable th{
	font-size: 24px;
	font-family: 'Source Sans Pro';
	margin: 0px;
}
#evtTable{
	width: 1080px;
	margin: 0px auto;
}
.teamMem{
	color: black;
	text-align: center;
}
.teamMem img{
	height: 150px;
	width: 150px;
}
#secTeam{

	position: relative;
	top: -400;
}
#particles-js{
	background-color: #3e3e3e;
}
#parti
{
	width: 700px;
	float: right;

}
.teamMem{
	float: left;
	margin: 20px;
}
.imgProp{

}
.super{
	font-size: 96px;
}
@media screen and (max-width: 1014px){
	.eventTimeTable{
		display: none;
	}
	#MainTable{
		display: table;
		margin: 0px auto;
		width: 300px;
		float: none;
	}
	#evtTable{
		width: 300px;
	}
	
}
@media screen and (max-width: 1044px){
	#Drop{
		background: #000;
		background-color: #000;
	}
	#parti{
		float: none;
		margin: 0px auto;
	}
	
}
@media screen and (max-width: 640px) {
	#abt{
		transform : scale(0.80);
	}
}